#main .jumbotron {
	margin-top: -20px;
}
#site-footer {
	margin: 50px 0 0 0;
}
#site-footer .well {
	margin: 0;
	border-radius: 0;
}

.font-previewer,
.font-previewer i {
	font-size: 32px;
	padding: 0;
}
.cat {
	width: 110px;
}
.list-group-item.active {
	color: #fff;
	text-shadow: 0 0 1px #000;
}
.list-group-item.active small {
	color: #eee;
}
.list-group-item.active small,
.list-group-item.active code {
	text-shadow: none;
}
